<%= form_with model: @blog do |form| %>
    <% if @blog.errors.any? %>
        <% @blog.errors.full_messages.each do |message| %>
        <div>
            <% message %>
        </div>
        <% end %>
    <% end %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
     
     <%= form.submit %>
<% end %>
