<%= form_with model: @blog do |form| %>
    <div class="card" style="width: 20rem">
        <% if @blog.errors.any? %>
            <% @blog.errors.full_messages.each do |message| %>
            <div>
                <% message %>
            </div>
            <% end %>
        <% end %>
        <div >
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>

        <div class="card-text">
            <%= form.label :content %>
            <%= form.text_field :content %>
        </div>
        
        <%= form.submit %>
    </div>
<% end %>
